# Node modules
node_modules/

# Build output
build/

# Logs
*.log

# Cache files and temporary data
.cache/
temp/
*.tmp

# Environment variables
.env

# System files
.DS_Store
Thumbs.db

# VS Code settings
.vscode/

# Dependencies of React or other frontend frameworks
public/*.pack
